<?xml version='1.0' encoding='utf-8'?>
<Texts Type="Other">
	<List>
		<Text Name="1">
			<Display>Số người phi thăng: {0}</Display>
		</Text>
		<Text Name="2">
			<Display>Chế tạo Pháp Bảo: {0} lần</Display>
		</Text>
		<Text Name="3">
			<Display>Vẽ Bùa: {0} lần</Display>
		</Text>
		<Text Name="4">
			<Display>Tiêu diệt sinh vật: {0} con</Display>
		</Text>
		<Text Name="5">
			<Display>Học từ sách: {0} Bí kíp</Display>
		</Text>
		<Text Name="6">
			<Display>Thời gian phi thăng nhanh nhất: Ngày {0}</Display>
		</Text>
		<Text Name="7">
			<Display>Luyện đan: {0} lần</Display>
		</Text>
		<Text Name="8">
			<Display>Thám hiểm: {0} lần</Display>
		</Text>
		<Text Name="9">
			<Display>Nấu ăn: {0} lần</Display>
		</Text>
		<Text Name="10">
			<Display>Điểm thành tựu: {0}</Display>
		</Text>
		<Text Name="11">
			<Display>Số đệ tử nội môn đã chết: {0}</Display>
		</Text>
		<Text Name="12">
			<Display>Tự khám phá địa điểm mới: {0} nơi</Display>
		</Text>
	</List>
</Texts>