<Texts Type="Other">
	<List>
		<Text Name="single_jin">
			<Display>Kim Khí</Display>
			<Desc>Tăng nguyên tố Kim trong môi trường và tốc độ tu luyện công pháp hệ Kim.</Desc>
		</Text>
		<Text Name="single_mu">
			<Display>Mộc Khí</Display>
			<Desc>Tăng nguyên tố Mộc trong môi trường và tốc độ tu luyện công pháp hệ Mộc.</Desc>
		</Text>
		<Text Name="single_shui">
			<Display>Thủy Khí</Display>
			<Desc>Tăng nguyên tố Thủy trong môi trường và tốc độ tu luyện công pháp hệ Thủy.</Desc>
		</Text>
		<Text Name="single_huo">
			<Display>Hỏa Khí</Display>
			<Desc>Tăng nguyên tố Hỏa trong môi trường và tốc độ tu luyện công pháp hệ Hỏa.</Desc>
		</Text>
		<Text Name="single_tu">
			<Display>Thổ Khí</Display>
			<Desc>Tăng nguyên tố Thổ trong môi trường và tốc độ tu luyện công pháp hệ Thổ.</Desc>
		</Text>
		<Text Name="jin_mu">
			<Display>Khí Canh Thân</Display>
			<Desc>Tăng đáng kể tốc độ chặt gỗ và thu hoạch của đệ tử.</Desc>
		</Text>
		<Text Name="jin_shui">
			<Display>Khí Canh Dần</Display>
			<Desc>Tăng đáng kể tốc độ chế tạo thủ công và may vá của đệ tử.</Desc>
		</Text>
		<Text Name="jin_huo">
			<Display>Khí Canh Ngọ</Display>
			<Desc>Tăng đáng kể tốc độ khai thác của đệ tử.</Desc>
		</Text>
		<Text Name="jin_tu">
			<Display>Khí Canh Tuất</Display>
			<Desc>Tăng đáng kể sản lượng khai thác của đệ tử.</Desc>
		</Text>
		<Text Name="mu_shui">
			<Display>Khí Ất Hợi</Display>
			<Desc>Tăng đáng kể sản lượng thu hoạch của đệ tử và sự màu mỡ của bản đồ môn phái.</Desc>
		</Text>
		<Text Name="mu_huo">
			<Display>Khí Ất Tỵ</Display>
			<Desc>Tăng đáng kể tốc độ rèn đúc và nấu ăn của đệ tử.</Desc>
		</Text>
		<Text Name="mu_tu">
			<Display>Khí Ất Mão</Display>
			<Desc>Tăng đáng kể tốc độ xây dựng của đệ tử.</Desc>
		</Text>
		<Text Name="shui_huo">
			<Display>Khí Bính Dần</Display>
			<Desc>Tăng đáng kể tốc độ cứu trợ thiên tai và tỷ lệ thành công của đệ tử.</Desc>
		</Text>
		<Text Name="shui_tu">
			<Display>Khí Bính Thìn</Display>
			<Desc>Tăng đáng kể tỷ lệ thành công khi chữa bệnh và khả năng tự hồi phục của đệ tử.</Desc>
		</Text>
		<Text Name="huo_tu">
			<Display>Khí Đinh Mùi</Display>
			<Desc>Tăng đáng kể tốc độ tháo dỡ và tốc độ gia công đá của đệ tử.</Desc>
		</Text>
		<Text Name="jin_mu_shui">
			<Display>Khí Giáp Dần</Display>
			<Desc>Tăng đáng kể sự tương thích công pháp hệ Mộc của đệ tử.</Desc>
		</Text>
		<Text Name="jin_mu_huo">
			<Display>Khí Giáp Ngọ</Display>
			<Desc>Tăng đáng kể sản lượng luyện đan của đệ tử.</Desc>
		</Text>
		<Text Name="jin_mu_tu">
			<Display>Khí Giáp Thìn</Display>
			<Desc>Tăng đáng kể tốc độ xây dựng căn cơ, tốc độ tu luyện, và cảnh giới tâm thần của đệ tử.</Desc>
		</Text>
		<Text Name="jin_shui_huo">
			<Display>Khí Canh Dần</Display>
			<Desc>Tăng đáng kể tỷ lệ thành công khi luyện pháp bảo của đệ tử.</Desc>
		</Text>
		<Text Name="jin_shui_tu">
			<Display>Khí Canh Thìn</Display>
			<Desc>Tăng đáng kể sự tương thích công pháp hệ Thủy của đệ tử.</Desc>
		</Text>
		<Text Name="jin_huo_tu">
			<Display>Khí Canh Ngọ</Display>
			<Desc>Tăng đáng kể sự tương thích công pháp hệ Kim của đệ tử.</Desc>
		</Text>
		<Text Name="mu_shui_huo">
			<Display>Khí Bính Dần</Display>
			<Desc>Tăng đáng kể sự tương thích công pháp hệ Hỏa của đệ tử.</Desc>
		</Text>
		<Text Name="mu_shui_tu">
			<Display>Khí Bính Thìn</Display>
			<Desc>Tăng đáng kể sản lượng luyện đan của đệ tử.</Desc>
		</Text>
		<Text Name="mu_huo_tu">
			<Display>Khí Bính Ngọ</Display>
			<Desc>Tăng đáng kể sự tương thích công pháp hệ Thổ của đệ tử.</Desc>
		</Text>
		<Text Name="shui_huo_tu">
			<Display>Khí Bính Thân</Display>
			<Desc>Tăng đáng kể tốc độ luyện pháp bảo của đệ tử.</Desc>
		</Text>
		<Text Name="no_jin">
			<Display>Khí Kiếp Kim</Display>
			<Desc>Tăng đáng kể khả năng kháng sát thương hệ Kim (tổng cộng).</Desc>
		</Text>
		<Text Name="no_mu">
			<Display>Khí Kiếp Mộc</Display>
			<Desc>Tăng đáng kể khả năng kháng sát thương hệ Mộc (tổng cộng).</Desc>
		</Text>
		<Text Name="no_shui">
			<Display>Khí Kiếp Thủy</Display>
			<Desc>Tăng đáng kể khả năng kháng sát thương hệ Thủy (tổng cộng).</Desc>
		</Text>
		<Text Name="no_huo">
			<Display>Khí Kiếp Hỏa</Display>
			<Desc>Tăng đáng kể khả năng kháng sát thương hệ Hỏa (tổng cộng).</Desc>
		</Text>
		<Text Name="no_tu">
			<Display>Khí Kiếp Thổ</Display>
			<Desc>Tăng đáng kể khả năng kháng sát thương hệ Thổ (tổng cộng).</Desc>
		</Text>
		<Text Name="hunyuan">
			<Display>Khí Hỗn Nguyên</Display>
			<Desc>Giảm đạo chủng, tăng tốc độ học tập.</Desc>
		</Text>
	</List>
</Texts>