<?xml version='1.0' encoding='utf-8'?>
<Texts Type="Other">
	<List>
		<Text Name="Blood">
			<Display>Offer Beast Blood</Display>
			<Desc>Tế máu yêu thú để đổi lấy vật phẩm</Desc>
		</Text>
		<Text Name="Elixir">
			<Display>Soul Pearl</Display>
			<Desc>Tế Linh Châu để đổi lấy vật phẩm</Desc>
		</Text>
	</List>
</Texts>