<Texts Type="Other">
	<List>
		<Text Name="LostPart">
			<DisplayName>สูญเสียบางสิ่ง</DisplayName>
		</Text>
		<Text Name="SYS_ATK">
			<DisplayName>ท่าร่างโจมตี</DisplayName>
			<Desc>ผู้ฝึกตนวิถีกายาอมตะจะโจมตีศัตรูด้วยกำลังทั้งหมด ทว่าสิ่งนี้จะทำให้ความสามารถในการป้องกันของกายาเร้นลับลดลง</Desc>
		</Text>
		<Text Name="SYS_NORMAL">
			<DisplayName>ท่าร่างพื้นฐาน</DisplayName>
			<Desc>ท่าต่อสู้มาตรฐานสำหรับผู้ฝึกตนวิถีกายาอมตะ ขั้นแรกจะจัดการกับสิ่งอาวุธวิเศษของศัตรูแล้วโจมตีร่างกายของพวกมัน ท่าร่างนี้มีความสมดุลทั้งรุกและรับ</Desc>
		</Text>
		<Text Name="BPAttitudes_ManJi">
			<DisplayName>จิตวิญญาณนักสู้</DisplayName>
			<Desc>ใช้ความตั้งใจในการต่อสู้ที่แข็งแกร่งเพื่อสั่งการให้ทั้งร่างกายเคลื่อนไหวและโจมตีร่างกายของศัตรูโดยตรง เพิ่มความสามารถในการโจมตีอย่างมากในขณะที่ยังรักษาสัญชาตญาณการป้องกันบางส่วนเอาไว้</Desc>
		</Text>
		<Text Name="BPAttitudes_WangZhe">
			<DisplayName>เจตจำนงแห่งราชา</DisplayName>
			<Desc>สงบจิตใจของตนในขณะที่เผชิญหน้ากับการต่อสู้ด้วยหัวใจของราชา ลดการอัตราการใช้พลังงานของกายาเร้นลับ</Desc>
		</Text>
	</List>
</Texts>