<Texts Type="Other">
	<List>
		<Text Name="kind_1">
			<Desc>Nhân vật đã thăng thiên: {0:F0}</Desc>
		</Text>
		<Text Name="kind_2">
			<Desc>Cuộc phiêu lưu: {0:F0}</Desc>
		</Text>
		<Text Name="kind_3">
			<Desc>Luyện đan / Giả kim thuật: {0:F0}</Desc>
		</Text>
		<Text Name="kind_4">
			<Desc>Pháp bảo đã luyện: {0:F0}</Desc>
		</Text>
		<Text Name="kind_5">
			<Desc>Bùa đã vẽ: {0:F0}</Desc>
		</Text>
		<Text Name="kind_6">
			<Desc>Sinh vật bị giết: {0:F0}</Desc>
		</Text>
		<Text Name="kind_7">
			<Desc>Tu chân giả bị giết: {0:F0}</Desc>
		</Text>
		<Text Name="kind_8">
			<Desc>Thức ăn nấu: {0:F0} Loại</Desc>
		</Text>
		<Text Name="kind_9">
			<Desc>Vật phẩm nghệ thuật: {0:F0}</Desc>
		</Text>
		<Text Name="kind_10">
			<Desc>Thuyết phục thành công: {0:F0}</Desc>
		</Text>
		<Text Name="kind_11">
			<Desc>Công pháp đã học: {0:F0}</Desc>
		</Text>
		<Text Name="kind_12">
			<Desc>Đệ tử đã chết: {0:F0}</Desc>
		</Text>
		<Text Name="kind_13">
			<Desc>Đệ tử nội môn đã chết: {0:F0}</Desc>
		</Text>
		<Text Name="kind_14">
			<Desc>Đoạt xá: {0:F0}</Desc>
		</Text>
		<Text Name="kind_15">
			<Desc>Thiền định: {0:F0} giây</Desc>
		</Text>
		<Text Name="kind_16">
			<Desc>Sưu hồn: {0:F0}</Desc>
		</Text>
		<Text Name="kind_17">
			<Desc>Tuổi thọ bị cướp đoạt: {0:F0} giây</Desc>
		</Text>
		<Text Name="kind_18">
			<Desc>Linh hồn đã luyện hóa: {0:F0}</Desc>
		</Text>
		<Text Name="kind_19">
			<Desc>U linh câu: {0:F0}</Desc>
		</Text>
		<Text Name="kind_20">
			<Desc>Xác chết đã luyện hóa: {0:F0}</Desc>
		</Text>
		<Text Name="kind_21">
			<Desc>Hiến tế: {0:F0}</Desc>
		</Text>
		<Text Name="kind_22">
			<Desc>Linh hồn ký thác: {0:F0}</Desc>
		</Text>
		<Text Name="kind_23">
			<Desc>Thánh vật: {0:F0}</Desc>
		</Text>
	</List>
</Texts>